<title>Hair Salon Home</title>
@{
  Layout = "_Layout";
}

<h1>Welcome to The Hair Salon</h1>

<p>@Html.ActionLink("Go To Stylist Page", "Index", "Stylists")</p>
<p>@Html.ActionLink("Go To Clients Page", "Index", "Clients")</p>